span.film
  font-variant: all-small-caps
  font-style: italic

label
  &.moyen
    display: inline-block
    width: 250px
    margin-right: 1em
  &.court
    display: inline-block
    width: 100px
    margin-right: 1em
  &.long
    display: inline-block
    width: 500px
    margin-right: 1em
