<div id="page-1" class="page">
  <!-- Vierge — page droite -->
</div>

<div id="page-2" class="page">
  <!-- Vierge - page gauche -->
</div>

<div id="page-3" class="page">
  <div id="titre-page-3" class="titre">
    %{title}
  </div>
</div>

<div id="page-4" class="page">
  <!-- Liste des œuvres précédente - gauche -->
  <div class="titre-premieres-pages">
    Du même auteur
  </div>
  <div id="autres-livres">
    %{autres_livres}
  </div>
</div>

<div id="page-5" class="page">
  <!-- Auteur, titre et éditeur - droite -->
  <div id="auteur-page-5" class="auteur">
    %{author}
  </div>
  <div id="titre-page-5" class="titre">
    %{title}
  </div>
  <div id="publisher-page-5" class="publisher">
    <span class="name">%{publisher}</span>
    <span class="address">%{address}</span>
  </div>
</div>

<div id="page-6" class="page">
  <!-- Informations livre - gauche -->
  <div id="copyright-page-6" class="copyright">
    %{copyright}
  </div>
  <div id="auteur-page-6" class="auteur">
    %{author}
  </div>
  <div id="publisher-page-6" class="publisher">
    %{publisher}
  </div>
  <div id="isbn-page-6" class="isbn">
    %{isbn}
  </div>
  <div id="mention-page-6" class="mention">
    Tous droits de traduction, d'adaptation et de reproduction interdits
  </div>
</div>

<div id="page-7" class="page">
  <!-- Dédicade - droite -->
  <div id="dedicace-page-7" class="dedicace">
    %{dedicace}
  </div>
</div>

<div id="page-8" class="page">
  <!-- Vierge - gauche -->
</div>
