li.li-aevent
  overflow: hidden
  text-overflow: ellipsis
  position: relative

  &.current-in-video
    left: 30px
    overflow: visible
    &:before
      content: "➜"
      position: absolute
      left: -26px
      top: -2px
      color: green
      font-size: 16pt

  span.type
    background-color: grey
    color: white
    border-radius: 16px
    padding: 0 8px 2px
    &.nc
      background-color: red
    &.sc
      background-color: green

  span.show-on-select
    position: absolute
    right: 4px
    font-size: 0.85em
    background-color: grey
    padding: 2px 4px

li.li-aevent
  &:not(.selected)
    span.show-on-select
      display: none
  &.selected
    span.show-on-select
      display: inline
