body
  position: relative

div#rigth-margin
  position: absolute
  top: 0
  right: 0
  width: 620px
  background-color: #DDDDFF

  div#aevents
    width: 620px
    div.listing-barre-centrale
      ul.listing-liste
        width: 300px!important
      form.listing-form
        width: 300px
