body
  position: relative

  // Rectification de l'original
  div.listing
    border: unset
    border-width: 3px // Pour le focus
    border-style: solid

div#rigth-margin
  position: absolute
  top: 0
  right: 0
  width: 620px
  background-color: #DDDDFF

  div#aevents
    width: 620px
    div.listing-barre-centrale
      form.listing-form
        textarea#item-content
          height: 180px

div#mode-clavier, div#mode-focus
  position: fixed
  bottom: 0
  background-color: #CCCCCC
  color: white
  padding: 4px 1em
  font-variant: all-small-caps

div#mode-clavier
  right: 0
  width: 160px
div#mode-focus
  right: 160px
  width: 160px

.focused
  border-color: limegreen!important
