div#video-options
  font-size: 10pt

div.video-container
  position: relative
  display: inline-block
  &:not(.selected)
    video
      border: 4px solid transparent
    span.tete-lecture
      color: grey
  &.selected
    video
      border: 4px solid blue
    span.tete-lecture
      color: green
  div.tete-lecture-container
    position: relative
    height: 4px
    span.tete-lecture
      position: absolute
      top: -10px
  div.horloge
    min-width: 400px
    span.speed-container
      position: absolute
      right: 10px
      vertical-align: baseline
      border: 1px solid #A8A8A8
      background-color: #EBEBEB
      padding: 0 10px
      > *
        vertical-align: baseline
      select.speed
        border: unset !important
        font-family: Marion !important
        padding: unset !important
      img.cadenas-speed
        margin: 0
        cursor: pointer
      label
        font-size: 10pt
      input[type="checkbox"]
        width: 12px

  // Les lignes repère
  div.repere
    position: absolute
    height: inherit
    min-height: 10px
    top: 0
    &.quart
      background-color: white
      width: 2px
    &.tiers
      background-color: lime
      width: 2px
    &.mask
      background-color: black
      opacity: .8
      width: auto
